Babel==2.5.0
certifi==2017.4.17
chardet==3.0.3
checkout==0.2.0
click==6.7
coverage==4.4.1
Cython==0.25.2
dominate==2.3.1
Flask==0.12.2
Flask-Assets==0.12
Flask-Babel==0.11.2
flask-nav==0.6
idna==2.5
itsdangerous==0.24
janrain-python-api==0.4.0
Jinja2==2.9.6
mailer==0.8.1
MarkupSafe==1.0
#pyjnius==1.1.2.dev0
git+https://github.com/InvalidCo/pyjnius@7e41567eff1c9fafa9be932cd687d54c634a23ee#egg=pyjnius
pytz==2017.2
PyYAML==3.12
requests==2.17.3
six==1.10.0
urllib3==1.21.1
visitor==0.1.3
webassets==0.12.1
Werkzeug==0.12.2
xmltodict==0.11.0
